* {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-dark);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #805224;
}

.inputButton, .button, .display {
    border-radius: 20px;
}

.inputButton:hover, .button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.inputButton, .button, .display {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.upper {
    width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.display {
    height: 100px;
    width: 400px;
    background-color: #f9f4e7; /* leicht heller, wie ein Display-Hintergrund */
    border: 2px solid indigo;
    border-radius: 14px;
    text-align: right;
    padding: 20px;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Digital-7', 'Courier New', monospace; /* digitaler Font */
    color: #333;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pad {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
}

.buttons {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.digits {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.operators {
    width: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.lastRow {
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inputButton {
    width: 90px;
    background-color: bisque;
    height: 90px;
    border: 2px solid indigo;
}

.button {
    background-color: bisque;
    height: 90px;
    width: 180px;
    border: 2px solid indigo;
    padding: 20px;
}